.image_text_container {
    padding: 50px 0;
}










/* image_text_container_bottom */


@media screen and (max-width:1024px) {


    .image_text_container {
        padding: 30px 0;
    }
}

@media screen and (max-width:767px) {


    .image_text_container {
        padding: 25px 0;
    }

}




.image_text_container_top div[data-contain="image"] {
    padding-right: 42px;

}

.image_text_container_bottom {
    padding-top: 0;
}

.image_text_container_bottom div[data-contain="layout"] {
    flex-direction: row-reverse !important;

}

.image_text_container_bottom div[data-contain="text-content"] {
    position: relative;
    margin-left: 10%;
    width: auto;
}





@media screen and (max-width:1200px) {
    .image_text_container_top div[data-contain="image"] {
        padding-right: 0px;

    }

}

@media screen and (max-width:767px) {
    .image_text_container_bottom div[data-contain="text-content"] {
        margin-left: 0;
        width: auto;
    }

    .image_text_container_bottom div[data-contain="layout"] {
        flex-direction: column-reverse !important;

    }


}



@media (max-width:991px) and (min-width:767px) {


    .image_text_container div[data-contain="text-content"] h6 {
        font-size: 15px;
        line-height: 23px;
    }

    .image_text_container div[data-contain="text-content"] h2 {
        font-size: 35px;
        line-height: 43px;
    }

    .image_text_container div[data-contain="text-content"] h2 {
        margin-top: 8px;
        margin-bottom: 3px;
    }

    .image_text_container div[data-contain="text-content"] p,
    .image_text_container div[data-contain="text-content"] div:has(h5) {
        margin-bottom: 21px;
    }

    .image_text_container div[data-contain="text-content"] h4 {
        font-size: 25px;
        line-height: 21px;
    }

    .image_text_container div[data-contain="text-content"] h4 {
        margin-bottom: 0;
    }

    .image_text_container div[data-contain="text-content"] h5 {
        font-size: 15px;
        line-height: 16px;
    }

    .image_text_container div[data-contain="text-content"] button {
        padding: 10px 20px;
        font-size: 11px;
        font-weight: 600;
        line-height: 16px;
    }


}