.Team {
    padding: 106px 0 120px 0;
    background-color: var(--white-color);

}

.team_content_text h6 {
    color: var(--orange-color);
    margin-bottom: 0;
}

.team_content_text h2 {
    color: var(--blue-gray);
    margin-bottom: 17px;
}

.team_card_conatiner {
    margin-top: 60px;
}

.top_right_photo {
    position: absolute;
    top: -12vw;
    right: 0;
    width: 11.5vw;
    height: auto;
}

.bottom_left_photo {
    position: absolute;
    left: 0;
    bottom: -94px;
    width: 14%;
    height: auto;
}

.card_div {
    max-width: fit-content;
}

.card_div1 {
    /* margin-left: auto; */
}

.card_div2 {
    /* margin-left: auto;
    margin-right: auto; */
}

.card_div3 {
    /* margin-right: auto; */
}

.card_layout {
    gap: 30px;
}

@media screen and (max-width:1050px) {
    .top_right_photo {
        top: -15vw;
        width: 14.5vw;
    }

    .bottom_left_photo {
        bottom: -102px;
        width: 20%;
    }

    .card_layout {
        gap: 20px;
    }
}

@media screen and (max-width:991px) {
    .card_layout {
        gap: 20px;
    }
}

@media screen and (max-width:767px) {
    .top_right_photo {
        top: -19vw;
        width: 18.5vw;
    }

    .bottom_left_photo {
        bottom: -106px;
        width: 23%;
    }

    .card_layout {
        gap: 15px;
    }
}

@media screen and (max-width: 600px) {
    .top_right_photo {
        top: -23vw;
        width: 20.5vw;
    }

    .bottom_left_photo {
        bottom: -71px;
        width: 29%;
    }

    .card_layout {
        gap: 15px;
    }
}