.navbar_component {
    background-color: var(--white-color);
}

.navbar_container {
    display: flex;
    align-items: center;
}

.navbar_component a {

    font-family: Libre Franklin;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: var(--dark-grayish-blue);
}

.navbar_links_dropdown::after {
    margin-left: 8px;
}

.menu_icon {
    margin-right: 50px;
    display: flex;
    padding: 8px;
    background-color: #FFF9F6;
    border-radius: 50%;
}

.menu_icon svg {
    width: 24px;
    height: 24px;
}

.navbar_links {
    padding: 0px !important;
}

.navbar_links_list_right {
    margin-right: 46px !important;
}

.navbar_links_list li:not(:last-child):not(:first-child) {
    margin-right: 48px;
}

.navbar_links_list_right li:not(:last-child) {
    margin-right: 55px;
}



.navbar_logo {
    margin: 0 auto;
}

.navbar_div {
    padding-top: 0;
    padding-bottom: 24px;
}

.mobile_nav_logo {
    padding: 0;
    margin: 0;
}

.mobile_menu_icon {

    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    transition: var(--bs-navbar-toggler-transition);
}

.mobile_menu_icon:focus {
    box-shadow: none;
}


@media screen and (max-width: 1280px) {
    .menu_icon {
        margin-right: 0px;
    }

    .navbar_logo {
        width: 70px;
        height: 81px;
    }

    .navbar_links_list li:not(:last-child):not(:first-child) {
        margin-right: 30px;
    }

    .navbar_links_list_right {
        margin-right: 30px !important;
    }

    .navbar_links_list_right li:not(:last-child) {
        margin-right: 30px;
    }

    .navbar_book_btn {
        padding: 12px 11px;
        gap: 4px;
    }

    .navbar_book_btn svg {
        width: 14px;
        height: 14px;
    }

    .navbar_container {
        align-items: center;
        justify-content: space-between;
        flex-wrap: inherit;
    }

    .navbar_div {
        padding-top: 0;
        padding-bottom: 10px;
    }

}



@media screen and (max-width: 991px) {

    .navbar_links {
        padding: 10px !important;
    }

    .navbar_links_list {
        margin-top: 10px;
    }

    .mobile_nav_logo img {
        height: 100%;
    }

    .mobile_nav_logo {
        width: 60px;
        height: 60px;
    }
}