.book_tag {
    gap: 16px;
    margin-left: 10px;
}

.book_tag h5 {
    color: var(--blue-gray);
    font-family: Cormorant;
    font-weight: 600;
    text-transform: uppercase;

}

.dessert_content {
    margin-top: 26px;
}

.layout {
    row-gap: 8px;
}



@media (max-width:500px) {


    .dessert_content {
        margin-top: 10px;
    }

    .layout {
        row-gap: 5px;
    }
}