.team_card_conatiner {
    max-width: 410px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}


.team_card {
    position: relative;
}

.team_card_image {
    height: auto;
}

.profile_content {
    position: absolute;
    padding: 44px 0 47px 0;
    width: 100%;
    height: 161px;
    bottom: 0;
    left: 0;
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    transition: all 0.3s ease;
    gap: 11px;
}

.profile_content h4 {
    font-family: Cormorant;
    font-weight: 600;
    margin-bottom: 0px;
    color: var(--white-color);
}

.profile_content p {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--orange-color);
    margin-bottom: 0px;
}



.social_links {
    gap: 8px;
}

.social_content {
    gap: 17px;
    display: none;
}

.social_links svg {
    color: var(--white-color);
    width: 33px;
    aspect-ratio: 1 / 1;
    height: 33px;
}

.social_links div {
    padding: 9px;
    transition: all 0.3s ease;
    border: 1px solid #3e4658
}


.social_links div:active {
    transition: all 0.3s ease;
    background-color: var(--orange-color);
    border: 1px solid var(--orange-color);
}

/* .team_card_conatiner:active .profile_content {
    height: 273px;
    background: #293146;
    transition: all 0.3s ease;
}

.team_card_conatiner:active .social_content {
    display: flex;
} */

/* @media (hover:hover) and (pointer:fine) { */
.social_links div:hover {
    transition: all 0.3s ease;
    background-color: var(--orange-color);
    border: 1px solid var(--orange-color);
}

.team_card_conatiner:hover .profile_content {
    height: 273px;
    background: #293146;
    transition: all 0.3s ease;
}

.team_card_conatiner:hover .social_content {
    display: flex;
}

/* } */






@media screen and (max-width:767px) {
    .social_links svg {
        width: 28px;
        height: 28px;
    }

    .social_links div {
        padding: 6px;
    }

    .team_card_conatiner:hover .profile_content {
        height: 233px;
    }

    .profile_content {
        padding: 38px 0 31px 0;
        gap: 10px;
    }

    .social_content {
        gap: 14px;
    }
}



@media (min-width: 576px) and (max-width: 650px) {

    .profile_content h4 {
        font-size: 29px;
        line-height: 30px;
    }

    .profile_content p {
        font-size: 12px;
        line-height: 19px;
        letter-spacing: 2px;
    }


    .profile_content {
        padding: 44px 0 47px 0;
        height: 129px;
        gap: 11px;
    }

    .team_card_conatiner:hover .profile_content {
        height: 180px;
    }

    .profile_content {
        padding: 28px 0 31px 0;
        gap: 6px;
    }

    .social_content {
        gap: 6px;
    }

    .social_links svg {
        width: 24px;
        height: 24px;
    }

    .social_links div {
        padding: 4px;
    }
}